<head>
    <meta charset="UTF-8">
    <!--告訴瀏覽器編碼-->
    <title>hello world</title>
    <!--網頁標題-->
</head>
<body>
    <!--一個容器-->
    <div id="test"></div>
    <div id="test2"></div>
    <!--引入React核心庫-->
    <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <!--引入 react-dom 讓 react 可以操控 DOMs-->
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>

    <script type="text/javascript">/* 錯誤示範 */
        const VDOM = React.createElement('h1',{id:'title'},'<span>Hello,React</span>')
        ReactDOM.render(VDOM,document.getElementById('test')) /* 他是把上面的 id 是 test 的換成 VDOM */
    </script>

    <script type="text/javascript">/* 正確示範*/
        const span = React.createElement('span',{},'Hello,React')
        const RDOM = React.createElement('h1',{id:'title'},span)
        ReactDOM.render(RDOM,document.getElementById('test2')) /* 他是把上面的 id 是 test2 的換成 VDOM */
    </script>
</body>